:root {
    --item: #DB4444;
    --red-btn: #DB4444;
    --green-btn: #00FF66;
    --doted: #DB4444;
    --doted-red: #FB1314;
    --doted-yellow: #EEFF61;
    --doted-black: #000000;
}


.container {
    width: 1240px;
    margin: 0 auto;
}