
}
.text__top{
    display: flex;
    align-items: center;
}
.header__top h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-white);
    text-align: center;
    padding: 15px;
    margin-left: 290px;
}
.header__top h1 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #FAFAFA;
    margin-left: 7px;
    cursor: pointer;
}
.header__top p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-white);
    margin-left: 300px;
}

